{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('dropzone/min/dropzone.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('dropzone/min/dropzone.min.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- Begin Form  -->
    <section id="add" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h2>Ajouter une figure</h2>
                    <span class="section-divider"></span>
                </div><!-- /.column -->
            </div><!-- /.row -->
            <div class="row">
                {{ form_start(form, {"attr": {"class": "mb40-xs"}}) }}
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="form-group">
                        <h5 class="heading-1 mb20">Nom de la figure*</h5>
                        {{ form_widget(form.title, {"attr": {'class': 'form-control', 'placeholder': 'Ma super figure..'} })}}
                    </div>
                    <div class="form-group">
                        <h5 class="heading-1 mb20 mt20">Description de la figure*</h5>
                        {{ form_widget(form.content, {"attr": {'class': 'form-control', 'placeholder': 'Description'} })}}
                    </div>
                    <div class="form-group">
                        <h5 class="heading-1 mb20 mt20">Photo de couverture</h5>
                        {{ form_widget(form.mainPhotoUrl, {"attr": {'class': 'form-control-file'} })}}
                    </div>
                    <div class="form-group">
                        <h5 class="heading-1 mb20 mt20">Groupe de la figure*</h5>
                        {{ form_widget(form.groupe, {"attr": {'class': 'form-control', 'placeholder': 'Choisissez'} })}}
                    </div>
                    <button type="submit"class="btn btn-primary">Publier la figure</button>
                    {{ form_end(form) }}
                    <form action="{{ path('upload-photo') }}" class="dropzone">
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                </div><!-- column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Form -->
{% endblock %}
