{% extends'base.html.twig' %}

{% block title %}Le site communautaire !{% endblock %}

{% block body %}

    <!-- Begin Arrow Jumbotron -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="ion-style-up ion-android-arrow-up"></span></button>
    <!-- End Arrow Jumbotron -->

    <!-- Begin Jumbotron -->
    <div class="jumbotron jumbotron-main" id="home" style="background-image:url({{ asset('img/cover.jpg') }});background-size:cover;">
        <div class="container center-vertically-holder">
            <div class="center-vertically">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="scaleReveal">
                        Bienvenue {% if app.user %}{{ app.user.username }}{% endif%} sur <strong>Snowtricks</strong>.
                    </h1>
                    <p class="bottomReveal">Le site qui référencie les meilleures figures en snowboard.</p>
                </div><!-- /.column -->
            </div><!-- /.vertical center -->
        </div><!-- /.container -->
        <a href="#figures" data-id="figures" class="scroll-link">
            <div class="scroll-indicator rotateBottomReveal">
                <span class="ion-style ion-android-arrow-down"></span>
            </div>
        </a>
    </div>
    <!-- End Jumbotron -->

    <!-- Begin Tricks -->
    <section id="figures" class="background1 section-padding">
        <div class="container">
            {% if app.user %}
                <div class="alert alert-success alert-dismissible mb50 text-center" role="alert">
                    <strong>Vous êtes à présent connecté !</strong> Vous pouvez maintenant créer, modifier, supprimer et commenter une figure.
                </div>
            {% endif%}
            <div class="row">
                {% for trick in tricks %}
                <div class="col-sm-3 mt30-xs">
                    <!-- Thumbnail Content -->
                    <div class="thumbnail">
                        <img src="{{ asset('/img/upload/'~trick.MainPhotoUrl) }}" class="img-size" alt="Figure de snow">
                        <div class="caption">
                            <h3 class="mb15">{{ trick.title }}</h3>
                            <p class="text-small mb20">{{ trick.content | slice(0, 100) }}..</p>
                            <p class="no-margin"><a class="btn btn-primary" href="{{ path("trick_show", {title: trick.title })}}" role="button">Voir plus</a>
                                {% if app.user %}
                                    <a class="align-item" data-toggle="modal" data-target="#regularModal{{ trick.id }}" href="#"><span class="ml10 pe-7s-trash"></span></a>
                                    <a class="align-item" href="{{ path("update_trick", {id: trick.id}) }}"><span class="pe-7s-pen"></span></a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div><!-- /.column -->

                <!-- Begin Modal Call -->
                    <div class="modal fade" id="regularModal{{ trick.id }}" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p class="text-center">Êtes vous sur de vouloir supprimer la figure "{{ trick.title }}" ?</p>
                                    <div class="text-center"><a href="{{ path('trick_delete', {"id": trick.id}) }}" class="btn btn-danger btn-lg align-item-center mt30">Supprimer le trick</a></div>
                                    <div class="text-center"><a href="#" class="btn btn-primary btn-sm mt10" class="close" data-dismiss="modal" aria-label="Close">Fermer</a></div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                <!-- End Modal Call -->
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Tricks -->

    <!-- Begin JS Button -->
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- End JS Button -->

{% endblock %}
