{% extends'base.html.twig' %}

{% block title %}Le site communautaire !{% endblock %}

{% block body %}

    <!-- Begin Jumbotron -->
    <div class="jumbotron jumbotron-main" id="home" style="background-image:url({{ asset('img/cover.jpg') }});background-size:cover;">
        <div class="container center-vertically-holder">
            <div class="center-vertically">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="scaleReveal">
                        Bienvenue sur <strong>Snowtricks</strong>.
                    </h1>
                    <p class="bottomReveal">Le site qui référencie les meilleures figures en snowboard.</p>
                    <a href="#figures" data-id="figures" class="scroll-link">
                        <div class="scroll-indicator rotateBottomReveal">
                            <span class="ion-android-arrow-down arrow-scroll-indicator"></span>
                        </div>
                    </a>
                </div><!-- /.column -->
            </div><!-- /.vertical center -->
        </div><!-- /.container -->
    </div>
    <!-- End Jumbotron -->

    <!-- Begin Tricks -->
    <section id="figures" class="background1 section-padding">
        <div class="container">
            <div class="row">
                {% for trick in tricks %}
                <div class="col-sm-3 mt30-xs">
                    <!-- Thumbnail Content -->
                    <div class="thumbnail">
                        <img src="{{ trick.MainPhotoUrl }}" class="img-size" alt="Figure de snow">
                        <div class="caption">
                            <h3 class="mb15">{{ trick.title }}</h3>
                            <p class="text-small mb20">{{ trick.content | slice(0, 100) }}..</p>
                            <p class="no-margin"><a class="btn btn-primary" href="{{ path("trick_show", {title: trick.title })}}" role="button">Voir plus</a></p>
                        </div>
                    </div>
                </div><!-- /.column -->
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Tricks -->

{% endblock %}
