{% extends'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}

    <!-- Begin Jumbotron -->
    <div class="jumbotron jumbotron-main" id="figure-name" style="background-image:url({{ asset('/img/upload/'~trick.MainPhotoUrl) }});background-size:cover;">
        <div class="container center-vertically-holder">
            <div class="center-vertically">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="scaleReveal text-dark">
                        <strong>{{ trick.title }}</strong>
                    </h1>
                </div><!-- /.column -->
            </div><!-- /.vertical center -->
        </div><!-- /.container -->
    </div>
    <!-- End Jumbotron -->

    <!-- Begin Infos -->
    <section id="infos" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center desktop-section mb20">
                    {% for photo in trick.photos %}
                        <span>
                            <img src="{{ asset('/img/upload/'~photo.url) }}" class="photo-size">
                        </span>
                    {% endfor %}<br>
                    {% for video in trick.videos %}
                        <iframe width="280" height="158" src="{{ video.Url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endfor %}
                </div>
                <div class="col-xs-12 text-center mobile-section mb20">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <b>Voir les médias</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for photo in trick.photos %}
                                    <span>
                                        <img src="{{ asset('/img/upload/'~photo.url) }}" class="photo-size">
                                    </span>
                                {% else %}
                                    <p>Ce trick n'a pas encore de photo, <a href="login">connectez-vous</a> pour en ajouter !</p>
                                {% endfor %}

                                {% for video in trick.videos %}
                                    <iframe width="280" height="158" src="{{ video.Url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- /panel -->
                </div>
                <div class="col-xs-12 text-center">
                    <p class="text-justify">{{ trick.content }}</p>
                    <span class="text-center section-divider"></span>
                    <p class="no-margin">
                        <span class="label label-default">Publié le {{ trick.CreatedAt | date('d/m/Y') }}</span>
                        {% if trick.updatedAt is not null %}
                            <span class="label label-warning">Mise à jour le {{ trick.updatedAt | date('d/m/Y') }}</span>
                        {% endif %}
                        <span class="label label-primary">{{ trick.Groupe.name }}</span>
                    </p>
                </div><!-- /.column -->
            </div><!-- /.row -->
        </div>
    </section>
    <!-- End Infos-->

    <!-- Begin Comment Form -->
    <section id="contact" class="background2 section-padding">
        <div class="container">
            <div class="row mb30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
                    <h4>Poster un commentaire</h4>
                    <span class="section-divider mb15"></span>
                    {% for message in app.flashes('Notification') %}
                        <div class="flash-notice alert alert-success alert-dismissible alert-position mt10 mb20" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ion-ios-close-empty"></span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div><!-- /.column -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    {% if not app.user %}
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="text-center"><a href="login">Connectez-vous</a> pour pouvoir commenter un trick.</p>
                            </div>
                        </div>
                    {% else %}
                        {{ form_start(form, {"attr": {"id": "commentForm"}}) }}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <span class="text-danger text-small">{{ form_errors(form.comment) }}</span>
                                        <div class="controls">
                                            {{ form_widget(form.comment, {"attr": {'class': 'form-control', 'placeholder': 'Écrivez votre commentairei ici..', 'rows': "5", 'id' : 'message'} })}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt15">
                                <div class="col-sm-6">
                                    <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
                                </div><!-- /.column -->
                                <div class="col-sm-6 text-right">
                                    <button type="submit" id="submit" class="btn btn-default btn-lg">Poster</button>
                                </div><!-- /.column -->
                            </div><!-- /.row -->
                        {{ form_end(form) }}
                    {% endif %}
                </div><!-- /.column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.section -->
    <!-- End Comment Form -->

    <!-- Begin Comments -->
    <section id="comments" class="background1 section-padding">
        <div class="container">
            <div class="row mb30">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
                    <h4>Commentaires</h4>
                    <span class="section-divider mb15"></span>
                </div><!-- /.column -->
            </div><!-- /.row -->
            <div class="row">
                {% for comment in comments %}
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <span><img src='{{ asset('/img/upload/avatar/'~comment.memberCreator.urlAvatar) }}' alt="avatar" class="avatar-style"></span><h5 class="heading-1 mb20">{{ comment.memberCreator }}</h5>
                    <p class="text-justify">{{ comment.comment }}</p>
                    <p class="comment-date mt15 mb20">Publié le {{ comment.createdAt | date('d/m/Y') }} à {{ comment.createdAt | date('H:i') }}</p>
                </div><!-- /.column -->
                {% else %}
                    <p class="text-center">Soyez le premier à écrire un commentaire pour ce trick !</p>
                {% endfor %}
            </div><!-- /.row -->
            <div class="row text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% for p in 0..nbPages %}
                        <li class="page-item {{ p==pageActive ? 'active':'' }}"><a class="page-link" href="{{ path('trick_show', {'title':trick.title, 'page':p}) }}">{{ p+1 }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div><!-- /.container -->
    </section><!-- /.section -->
    <!-- End Comments -->

{% endblock %}
