{% extends'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('dropzone/min/dropzone.min.js') }}"></script>
{% endblock %}

{% block title %}{{ trick.title }}{% endblock %}

{% block body %}

    <!-- Begin Jumbotron -->
    <div class="jumbotron jumbotron-main" id="figure-name" style="background-image:url({{ asset('/img/upload/'~trick.MainPhotoUrl) }});background-size:cover;">
        <div class="container center-vertically-holder">
            <div class="center-vertically">
                <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center">
                    <h1 class="scaleReveal text-dark">
                        <strong>{{ trick.title }}</strong>
                    </h1>
                </div><!-- /.column -->
            </div><!-- /.vertical center -->
        </div><!-- /.container -->
    </div>
    <!-- End Jumbotron -->

    <!-- Begin Infos -->
    <section id="infos" class="background1 section-padding">
        <div class="container">
            <div class="row">
                {% for message in app.flashes('Notification') %}
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <div class="flash-notice alert alert-success alert-dismissible alert-position mt10 mb20 text-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ion-ios-close-empty"></span></button>
                                <strong>{{ message }}</strong>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-xs-12 text-center desktop-section mb20">
                    {% for photo in trick.photos %}
                        <span>
                            <img src="{{ asset('/img/upload/'~photo.url) }}" class="photo-size">
                            <a href="{{ path('delete-photo', {"trickId":trick.id, "id":photo.id}) }}">delete</a>
                        </span>
                    {% endfor %}

                    {% for video in trick.videos %}
                        <iframe width="280" height="158" src="{{ video.Url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <a href="{{ path('delete-video', {"trickId":trick.id, "id":video.id}) }}">delete</a>
                    {% endfor %}
                </div>
                <div class="col-xs-12 text-center mobile-section mb20">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <b>Voir les médias</b>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                {% for photo in trick.photos %}
                                    <span>
                                        <img src="{{ asset('/img/upload/'~photo.url) }}" class="photo-size">
                                    </span>
                                {% endfor %}

                                {% for video in trick.videos %}
                                    <iframe width="280" height="158" src="{{ video.Url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- /panel -->
                </div>
            </div><!-- /.row -->

            <div class="row">
                {{ form_start(form, {"attr": {"class": "mb40-xs"}}) }}
                <div class="col-lg-10 col-lg-offset-1">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5 class="heading-1 mb20">Nom de la figure</h5>
                                {{ form_widget(form.title, {"attr": {'class': 'form-control', 'placeholder': 'Ma super figure..'} })}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5 class="heading-1 mb20">Groupe de la figure</h5>
                                {{ form_widget(form.groupe, {"attr": {'class': 'form-control', 'placeholder': 'Choisissez'} })}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5 class="heading-1 mb20">Description de la figure</h5>
                        {{ form_widget(form.content, {"attr": {'class': 'form-control', 'placeholder': 'Decrivez la figure dans les moindres détails..', 'rows': '5'} })}}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <h5 class="heading-1 mb20">Photo de couverture</h5>
                                {{ form_widget(form.mainPhotoUrl, {"attr": {'class': 'form-control-file'} })}}
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <span class="text-center section-divider"></span>
                        <p class="no-margin text-center">
                            <span class="label label-default">Publié le {{ trick.CreatedAt | date('d/m/Y') }}</span>
                            {% if trick.updatedAt is not null %}
                                <span class="label label-warning">Mise à jour le {{ trick.updatedAt | date('d/m/Y') }}</span>
                            {% endif %}
                            <span class="label label-primary">{{ trick.Groupe.name }}</span>
                        </p>
                    </div>
                </div><!-- /.column -->

                <div class="col-xs-12 mt40 text-right">
                    <p class="no-margin">
                        <button type="submit" class="btn btn-primary btn-lg">Mettre à jour</button>
                        <a href="#" class="btn btn-danger btn-md">Supprimer</a>
                    </p>
                </div><!-- /.column -->
                {{ form_end(form) }}
        </div>
    </section>
    <!-- End Infos-->
{% endblock %}

