{% extends 'base.html.twig' %}

{% block title %}Changer son mot de passe{% endblock %}

{% block body %}

    <!-- Begin Form  -->
    <section id="add" class="background1 section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 section-title text-center">
                    <h2>Modifier son mot de passe</h2>
                    <span class="section-divider"></span>
                </div><!-- /.column -->
            </div><!-- /.row -->
            <div class="row">
                {{ form_start(form, {"attr": {"class": "mb40-xs"}}) }}
                <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    {% for message in app.flashes('Notification') %}
                        <div class="flash-notice alert alert-success alert-dismissible alert-position mt10 mb20" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="ion-ios-close-empty"></span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <span class="text-danger text-small bold">{{ form_errors(form.password.first) }}</span>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h5 class="heading-1 mb20">Nouveau mot de passe</h5>
                                {{ form_widget(form.password.first, {"attr": {'class': 'form-control'} })}}
                            </div>
                            <div class="form-group">
                                <h5 class="heading-1 mb20">Confirmer le mot de passe</h5>
                                {{ form_widget(form.password.second, {"attr": {'class': 'form-control'} })}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right mt20">
                        <button type="submit"class="btn btn-lg btn-default">Valider</button>
                    </div>
                    {{ form_end(form) }}
                </div><!-- column -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    <!-- End Form -->

{% endblock %}
